#example of .env file to be used in /backend/backend/.env

COGNITO_AWS_REGION=your-region
COGNITO_USER_POOL_ID=your-user-pool-id
COGNITO_APP_CLIENT_ID=your-app-client-id
COGNITO_APP_CLIENT_SECRET=your-app-client-secret
AWS_ACCESS_KEY_ID=your_account_access_key
AWS_SECRET_ACCESS_KEY=secret_access_key

DB_NAME = ''
DB_USER = ''
DB_PASSWORD = ''
DB_HOST = ''
DB_PORT = ''
