.env
/frontend/.env
/backend/.env
balmy-renderer-451718-u7-3b6459d4e0fc.json
node_modules
/backend/backend/settings.py
# dependencies
/frontend/node_modules
/frontend/.pnp

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/backend/cliquepay/migrations/__pycache__
#backend
/backend/cliquepay/__pycache__
/backend/cliquepay/migrations/__pycache__
/backend/api/__pycache__
/backend/backend/__pycache__
/backend/backend/.env
# Django
/backend/*.log
/backend/local_settings.py
/backend/db.sqlite3
/backend/db.sqlite3-journal
/backend/media/
/backend/static/

# Virtual Environment
/backend/venv/
/backend/env/
/backend/ENV/
/backend/.env

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db**/__pycache__/
